In [13]:
import pandas as pd 
df=pd.read_excel("/home/ubuntu/Downloads/employee_income.xlsx")
print(df)
print(df.describe())
print(df.head(5))
print(df.tail(5))

    age  experience  income
0    50           5   45118
1    36           9   41691
2    29           3   35994
3    42           5   41614
4    40          12   51474
5    44          14   57092
6    32           1   31661
7    32           9   42378
8    45          11   50099
9    57           1   35800
10   45           9   49959
11   24          13   48575
12   43           3   37504
13   23          13   47998
14   45          14   53954
15   51          14   56945
16   59           7   51047
17   23          13   44204
18   42           6   41331
19   54          11   55691
20   33           8   41673
21   43          13   50970
22   46           7   46356
23   48           4   42981
24   49          12   52390
25   37           1   33440
26   36          14   49828
27   24           4   30702
28   58           7   49393
29   28           9   39770
30   42           8   46088
31   30          11   42706
32   39          11   50334
33   25          11   46977
34   46          12   50284
35   35           8   40363
36   30          12   46790
37   47          14   52663
38   23          12   47016
39   41           0   33491
40   49           8   45457
41   28           6   36078
42   29           8   40942
43   56           7   48936
44   35           0   28559
45   38          11   50179
46   57           7   46322
47   25           7   38314
48   23          14   48057
49   27          10   46015
             age  experience        income
count  50.000000   50.000000     50.000000
mean   38.860000    8.580000  44864.060000
std    10.719066    4.116121   6916.729587
min    23.000000    0.000000  28559.000000
25%    29.250000    6.250000  41039.250000
50%    39.500000    9.000000  46205.000000
75%    46.000000   12.000000  50064.000000
max    59.000000   14.000000  57092.000000
   age  experience  income
0   50           5   45118
1   36           9   41691
2   29           3   35994
3   42           5   41614
4   40          12   51474
    age  experience  income
45   38          11   50179
46   57           7   46322
47   25           7   38314
48   23          14   48057
49   27          10   46015

In [5]:
import pandas as pd
df=pd.read_csv("/home/ubuntu/Downloads/employee_income.csv")
print(df)
print(df.info())

    age  experience  income
0    50           5   45118
1    36           9   41691
2    29           3   35994
3    42           5   41614
4    40          12   51474
5    44          14   57092
6    32           1   31661
7    32           9   42378
8    45          11   50099
9    57           1   35800
10   45           9   49959
11   24          13   48575
12   43           3   37504
13   23          13   47998
14   45          14   53954
15   51          14   56945
16   59           7   51047
17   23          13   44204
18   42           6   41331
19   54          11   55691
20   33           8   41673
21   43          13   50970
22   46           7   46356
23   48           4   42981
24   49          12   52390
25   37           1   33440
26   36          14   49828
27   24           4   30702
28   58           7   49393
29   28           9   39770
30   42           8   46088
31   30          11   42706
32   39          11   50334
33   25          11   46977
34   46          12   50284
35   35           8   40363
36   30          12   46790
37   47          14   52663
38   23          12   47016
39   41           0   33491
40   49           8   45457
41   28           6   36078
42   29           8   40942
43   56           7   48936
44   35           0   28559
45   38          11   50179
46   57           7   46322
47   25           7   38314
48   23          14   48057
49   27          10   46015
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         50 non-null     int64
 1   experience  50 non-null     int64
 2   income      50 non-null     int64
dtypes: int64(3)
memory usage: 1.3 KB
None

In [4]:
import pandas as pd

data = {
    "Duration": {
        "0": 60, "1": 60, "2": 60, "3": 45, "4": 45, "5": 60
    },
    "Pulse": {
        "0": 110, "1": 117, "2": 103, "3": 109, "4": 117, "5": 102
    },
    "Maxpulse": {
        "0": 130, "1": 145, "2": 135, "3": 175, "4": 148, "5": 127
    },
    "Calories": {
        "0": 409, "1": 479, "2": 340, "3": 282, "4": 406, "5": 300
    }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [7]:
import pandas as pd
df=pd.read_excel("/home/ubuntu/Downloads/Demo Marks.xlsx")
df.dropna(inplace=True)
print(df)

    Roll no          Name of Student  \
0         1        RAVAL MEET MAHESH
1         2    HUMBE BHAKTI RAJENDRA
3         4    THAKARE MRUNALI VINOD
4         5  BHONGALE OMKAR MADHUKAR
5         6  THETE SANJIVANI SANTOSH
..      ...                      ...
69       70    KUNWAR ABHIJEET SINGH
70       71           TUPE OM KISHOR
71       72     DARWEY RUDRA GUNWANT
72       73     JAGTAP HARISH YUVRAJ
73       74             ASHUTOSH RAJ

    Previous Year SPPU Total Marks out of  1400          %  UT 1 Marks  \
0                                          1131  80.785714        29.0
1                                          1107  79.071429        29.0
3                                          1077  76.928571        28.0
4                                          1064  76.000000        28.0
5                                          1129  80.642857        29.0
..                                          ...        ...         ...
69                                          725  51.785714        13.0
70                                          756  54.000000         4.0
71                                          608  43.428571        26.0
72                                          542  38.714286        18.0
73                                          646  46.142857        14.0

          %.1  50% maks of Previous Year SPPU Result  \
0   96.666667                              44.000000
1   96.666667                              42.000000
3   93.333333                              43.000000
4   93.333333                              42.000000
5   96.666667                              43.000000
..        ...                                    ...
69  43.333333                              25.892857
70  13.333333                              27.000000
71  86.666667                              21.714286
72  60.000000                              19.357143
73  46.666667                              23.071429

    50% Marks of Unit Test 1  Total 100%
0                       41.0   85.000000
1                       41.0   83.000000
3                       39.0   82.000000
4                       38.0   80.000000
5                       37.0   80.000000
..                       ...         ...
69                      29.0   54.892857
70                      25.0   52.000000
71                      29.0   50.714286
72                      31.0   50.357143
73                      22.0   45.071429

[68 rows x 9 columns]

In [14]:
import pandas as pd
df=pd.read_excel("/home/ubuntu/Downloads/StudentDirtyDataVer1.xlsx")
df['DOJ'] = pd.to_datetime(df['DOJ'])
print(df.to_string())

  StudentName      ID        DOJ Grade  Age
0        Joey  114532 2020-01-06     A   18
1   Catherine  114533 2021-02-11     A   19
2        Mary  114534 2022-09-03     B   18
3       James  114535 2023-07-06     A   18
4    Michelle  114536 2020-04-18     B   20
5   Catherine  114533 2020-03-16     A   19
6         NaN  114537        NaT     A   18

In [16]:
import pandas as pd
df=pd.read_excel("/home/ubuntu/Downloads/StudentDirtyDataVer1.xlsx")
print(df)
df.loc[4, "Age"]=19
print(df)

  StudentName      ID                  DOJ Grade  Age
0        Joey  114532  2020-01-06 00:00:00     A   18
1   Catherine  114533  2021-02-11 00:00:00     A   19
2        Mary  114534  2022-09-03 00:00:00     B   18
3       James  114535  2023-07-06 00:00:00     A   18
4    Michelle  114536  2020-04-18 00:00:00     B   20
5   Catherine  114533  2020-03-16 00:00:00     A   19
6         NaN  114537                  NaT     A   18
  StudentName      ID                  DOJ Grade  Age
0        Joey  114532  2020-01-06 00:00:00     A   18
1   Catherine  114533  2021-02-11 00:00:00     A   19
2        Mary  114534  2022-09-03 00:00:00     B   18
3       James  114535  2023-07-06 00:00:00     A   18
4    Michelle  114536  2020-04-18 00:00:00     B   19
5   Catherine  114533  2020-03-16 00:00:00     A   19
6         NaN  114537                  NaT     A   18

In [19]:
import pandas as pd
df=pd.read_excel("/home/ubuntu/Downloads/StudentDirtyDataVer1.xlsx")
print(df)
print(df.duplicated(keep="first"))

  StudentName      ID                  DOJ Grade  Age
0        Joey  114532  2020-01-06 00:00:00     A   18
1   Catherine  114533  2021-02-11 00:00:00     A   19
2        Mary  114534  2022-09-03 00:00:00     B   18
3       James  114535  2023-07-06 00:00:00     A   18
4    Michelle  114536  2020-04-18 00:00:00     B   20
5   Catherine  114533  2021-02-11 00:00:00     A   19
6         NaN  114537                  NaT     A   18
0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [20]:
import pandas as pd
df=pd.read_excel("/home/ubuntu/Downloads/StudentDirtyDataVer1.xlsx")
print(df)
print(df.duplicated (keep="last"))

  StudentName      ID                  DOJ Grade  Age
0        Joey  114532  2020-01-06 00:00:00     A   18
1   Catherine  114533  2021-02-11 00:00:00     A   19
2        Mary  114534  2022-09-03 00:00:00     B   18
3       James  114535  2023-07-06 00:00:00     A   18
4    Michelle  114536  2020-04-18 00:00:00     B   20
5   Catherine  114533  2021-02-11 00:00:00     A   19
6         NaN  114537                  NaT     A   18
0    False
1     True
2    False
3    False
4    False
5    False
6    False
dtype: bool

In [22]:
import pandas as pd
df=pd.read_excel("/home/ubuntu/Downloads/StudentDirtyDataVer1.xlsx")
print(df)
print(df.duplicated(keep=False))

  StudentName      ID                  DOJ Grade  Age
0        Joey  114532  2020-01-06 00:00:00     A   18
1   Catherine  114533  2021-02-11 00:00:00     A   19
2        Mary  114534  2022-09-03 00:00:00     B   18
3       James  114535  2023-07-06 00:00:00     A   18
4    Michelle  114536  2020-04-18 00:00:00     B   20
5   Catherine  114533  2021-02-11 00:00:00     A   19
6         NaN  114537                  NaT     A   18
0    False
1     True
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [23]:
import pandas as pd
df=pd.read_json("/home/ubuntu/Downloads/sample_students.json")
print(df)

   RollNo       Name         DOJ Grade  Age
0       1       Joey  2020-01-06     A   18
1       2  Catherine  01-06-2020     A   19
2       3       Mary  03-06-2020     B   18
3       4      James   01-Jun-20     A   18
4       5   Michelle  2020/06/01     B   20

In [ ]:
df=pd.read_table("/home/ubuntu/Downloads/review.txt", names=["Reviews"])